{% load static %}
<script type="text/javascript">
var tour;

tour = new Shepherd.Tour({
  defaults: {
    classes: 'shepherd-element shepherd-open shepherd-theme-arrows',
  }
});

if($.cookie('examples.first_login') === undefined) {
    tour.addStep('welcome', {
       text: ['Welcome to the KYC Process Demo',
              'Start with "Admin" user to get<br/> access to all flows'],
       classes: 'shepherd shepherd-open shepherd-theme-arrows shepherd-transparent-text',
       attachTo: '.nav-wrapper bottom'
    });
    $.cookie('examples.first_login', true);
}


{% if user.is_anonymous %}
tour.addStep('login', {
  text: ['Use dropdown to login under any demo user'],
  classes: 'shepherd shepherd-open shepherd-theme-arrows shepherd-transparent-text',
  attachTo: {element: '#login_as_menu', on: 'left'},
  tetherOptions: {offset: '-10px 30px'},
  classes: 'shepherd shepherd-open shepherd-theme-arrows shepherd-transparent-text z-index-1000',
  buttons: []
});
{% endif %}

{% if user.username == 'amitauti' %}
if($.cookie('customer') === undefined) {
    tour.addStep('customer', {
      title: 'Welcome, Amit',
      text: ['You have access to "KYC Submit" Process',
             'You can <b>"Start"</b> "KYC Submit" requests by clicking here'],
      classes: 'shepherd shepherd-open shepherd-theme-arrows shepherd-transparent-text',
      attachTo: {element: 'div a[href="#start_actions"]', on: 'right'},
      classes: 'shepherd shepherd-open shepherd-theme-arrows shepherd-transparent-text z-index-1000',
      buttons: [{ text: 'OK', action: tour.next }],
      tetherOptions: {offset: '0px -20px 0px 0px'}
    });
    $.cookie('customer', true);
}
{% endif %}

{% if user.username == 'HSBC' %}
if($.cookie('banker') === undefined) {
    tour.addStep('banker', {
      title: 'Welcome, HSBC Agent',
      text: ['You have access to "KYC Submit" Process',
             'You can <b>"Approve"</b> "KYC Submit" requests'],
      classes: 'shepherd shepherd-open shepherd-theme-arrows shepherd-transparent-text',
      attachTo: {element: 'li a[href="/workflow/"]', on: 'right'},
      classes: 'shepherd shepherd-open shepherd-theme-arrows shepherd-transparent-text z-index-1000',
      buttons: [{ text: 'OK', action: tour.next }],
      tetherOptions: {offset: '0px -20px 0px 0px'}
    });
    $.cookie('banker', true);
}
{% endif %}

{% if user.username == 'admin' %}
if($.cookie('examples.admin') === undefined) {
    tour.addStep('admin', {
      title: 'Welcome, System administrator',
      text: ['You have access to any process and tasks',
             'Also you have rights to the data administration interface'],
      classes: 'shepherd shepherd-open shepherd-theme-arrows shepherd-transparent-text',
      attachTo: {element: 'li a[href="/workflow/"]', on: 'right'},
      classes: 'shepherd shepherd-open shepherd-theme-arrows shepherd-transparent-text z-index-1000',
      buttons: [{ text: 'OK', action: tour.next }],
      tetherOptions: {offset: '0px -20px 0px 0px'},
    });
    $.cookie('examples.admin', true);
}
{% endif %}

tour.start();
</script>
